<a href="https://colab.research.google.com/github/Shambhurajdesai/Practice/blob/main/coding_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#simple palindrom split method
word = input(str())
if word == word[::-1]:
  print(f'{word} is Pallindrome')

madam
madam is Pallindrome

In [7]:
#palindrom using function 
def palindrom(s):
  word = s[::-1]
  if s==word:
    print(f'Yes..! {s} is a Palindrom')
  else:
    print(f'No..! {s} is not a Palindrom')

In [8]:
palindrom("shambhuraj")

No..! shambhuraj is not a Palindrom

In [19]:
#palindrom usning indexing
def palindrom2(s):
  n = len(s)
  for i in range(n):
    if s[i] != s[n-i-1]:
      return False
  return True

In [21]:
palindrom2("nitin")

True

In [35]:
#using reversed and join inbuild functions
def palindrom3(s):
  reverse_s = reversed(s)
 
  temp = ''.join(reverse_s)
  if s == temp:
    print(f'Yes..! {s} is Palindrom')
  else:
    print(f'No..! {s} is not Palindrom')

In [39]:
palindrom3('NitiN')

Yes..! NitiN is Palindrom

In [40]:
#palindrom using while loop
def palindrom4(s):
  n = len(s)
  first = 0
  last = n-1
  while (first<last):
    if s[first] == s[last]:
      first += 1
      last -=1
    else:
      return False
    return True

In [42]:
palindrom4("shambhuraj")

False

In [1]:
word = 'madam'
n = len(word)
for i in range(0,n):
  if word == word[::-1]:
    print("Yes..! ")
  else:
    print("No..!")

Yes..!
Yes..!
Yes..!
Yes..!
Yes..!

In [6]:
#numeric palindrom
def palindrom5(s):
  temp = s
  rev_s = 0
  while (temp>0):
    digit = temp%10
    rev_s = rev_s*10+digit
    temp = temp // 10
  if s == rev_s:
    print("Yes... number is palindrom")
  else:
    print("No... number is not palindrom")

In [9]:
palindrom5(12321)

Yes... number is palindrom

In [ ]:
n=10
for i in range(1,n+1):
  if i > 0:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
word = 'Sky is blue'
print(word[::-1])

eulb si ykS

In [ ]:
mylist = word.split()
mylist = mylist[::-1]

In [ ]:
mylist

['blue', 'is', 'Sky']

In [ ]:
word.split()[::-1]

['blue', 'is', 'Sky']

In [ ]:
print(" ".join(word.split()[::-1]))

blue is Sky

In [ ]:
list_ = [1,4,5,5,6,6,3,2,3]
list_1 = []
for i in list_:
  if list_.count(i)==1:
    list_1.append(i)
print(list_1)

[1, 4, 2]

In [ ]:
[num for num in list_ if list_.count(num)==1]

[1, 4, 2]

In [ ]:
list_2 = [1,1,2,3,3,3,6,5,4,5,6,5,4,7,4,8,5,6,9,6]
# list_2 = list_2.split(',')
watched = []
for num in list_2:
  if num not in watched:
    print(f"{num}:{list_2.count(num)}",end=",")
    watched.append(num)

1:2,2:1,3:3,6:4,5:4,4:3,7:1,8:1,9:1,

In [ ]:
num=[]
count=[]
for i in list_2:
  if i not in num:
    num.append(i)
    count.append(list_2.count(i))
dict(zip(num,count))

{1: 2, 2: 1, 3: 3, 6: 4, 5: 4, 4: 3, 7: 1, 8: 1, 9: 1}

In [ ]:
a = []
size = int(input("Size of the list :"))
for i in range(size):
  val = int(input("Enter the number :"))
  a.append(val)
print("Original list :",a)

key = a[0]
for i in range(1,size):
  a[i-1] = a[i]
a[size-1] = key
print("List after shifting :",a)

Size of the list :5
Enter the number :10
Enter the number :15
Enter the number :20
Enter the number :25
Enter the number :30
Original list : [10, 15, 20, 25, 30]
List after shifting : [15, 20, 25, 30, 10]

In [ ]:
a = []
size = int(input("Size of the list :"))
for i in range(size):
  val = int(input("Enter the number :"))
  a.append(val)
print("Original list :",a)

key = a[-1]
for i in range(size-2,-1,-1):
  a[i+1] = a[i]
a[0] = key
print(a)

Size of the list :5
Enter the number :1
Enter the number :2
Enter the number :3
Enter the number :4
Enter the number :5
Original list : [1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]

In [ ]:
list1 = [10,15,20,25,30]
# for i in range(1,len(list1)):
list1[0],list1[-1] = list1[-1],list1[0]
print(list1)

[30, 15, 20, 25, 10]

In [ ]:
@decorator_func
def display():
  print('display worked')
display()

NameError: ignored

In [ ]:
10%2

0

In [ ]:
10//2

5

In [ ]:
10/2

5.0

In [ ]:
def sqr(n):
  for i in range(1,n+1):
    yield i*i

a=sqr(3)
print(next(a))
# print(next(a))
# print(next(a))

1

In [12]:
#fibonnaci series
def fibonnaci(n):
  a,b=0,1
  print(a)
  while(b<n):
    print(b)
    c = a+b
    a = b
    b = c

In [14]:
fibonnaci(150)

0
1
1
2
3
5
8
13
21
34
55
89
144

In [15]:
#fibonnaci series with only two variavbles
def fibonnaci2(n):
  a,b = 0,1
  print(a)
  while(b<n):
    print(b)
    a,b = b,a+b

In [17]:
fibonnaci2(150)

0
1
1
2
3
5
8
13
21
34
55
89
144