<a href="https://colab.research.google.com/github/Shambhurajdesai/Practice/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program to create function calculation() such that it can accept two variables and calculate addition 
#and subtraction. Also, it must return both addition and subtraction in a single return call.

def calculation(a,b):
  add = a+b
  sub = a-b
  return add,sub

In [ ]:
calculation(5,3)

(8, 2)

In [ ]:
def calculation(a,b):
  return a+b,a-b

In [ ]:
calculation(9,6)

(15, 3)

In [ ]:
#Create a function with a default argument
# Write a program to create a function show_employee() using the following conditions.

# It should accept the employeeâ€™s name and salary and display both.
# If the salary is missing in the function call then assign default value 9000 to salary

def show_employee(name,salary=9000):
  
  print('Name:',name, 'Salary:',salary)

In [ ]:
show_employee('Shambhuraj',80000)

Name: Shambhuraj Salary: 80000

In [ ]:
show_employee('virat')

Name: virat Salary: 9000

In [ ]:
#Create an inner function to calculate the addition in the following way

# Create an outer function that will accept two parameters, a and b
# Create an inner function inside an outer function that will calculate the addition of a and b
# At last, an outer function will add 5 into addition and return it

def outer_fuc(a,b):
  def addition(a,b):
    return a+b
  add_ = addition(a,b)
  return add_+5

In [7]:
# Create a recursive function
# Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

# A recursive function is a function that calls itself again and again.

# Expected Output:

# 55
sum = 0
for i in range(int(input())):
  sum = sum+i
print(sum)

21
210

In [8]:
#Assign a different name to function and call it through the new name
# Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it 
# and call it using the new name.
def display_student(name,age):
  print(name,age)

In [9]:
display_student('Shambhuraj',25)

Shambhuraj 25

In [10]:
show_student = display_student

In [11]:
show_student('Shambhuraj',25)

Shambhuraj 25

In [13]:
#Generate a Python list of all the even numbers between 4 to 30
# Expected Output:

# [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
even_ = []
for i in range(4,30):
  if i%2==0:
    even_.append(i)
print(even_)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [24]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
max(x)

24