<a href="https://colab.research.google.com/github/Shambhurajdesai/Practice/blob/main/List_comprehension_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
#1 Consider the following list and dictionary in your code:
a_list = list(range(1, 11))
a_dictionary = {1 : 'one',2 : 'two',3 : 'three',4 : 'four',5 : 'five',6 : 'six',7 : 'seven',8 : 'eight',9 : 'nine',10 : 'ten'}

In [ ]:
# a) Use a list comprehension that iterates over a_list, prints a list composed of each value in a_list multiplied by 10.
multiply = [x*10 for x in a_dictionary.keys()]

In [ ]:
multiply

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#Use a list comprehension that iterates over a_list, prints a list composed of odd numbers from 1 to 9.
odd = [x for x in a_dictionary.keys() if x%2 !=0]
odd

[1, 3, 5, 7, 9]

In [ ]:
#(c) Using a list comprehension which iterates over a_list and whose output expression accesses a value 
# from a dictionary, print a list composed of the text form of each even number from 2 to 10,
text = [y for x,y in a_dictionary.items() if x%2==0 ]
text

['two', 'four', 'six', 'eight', 'ten']

In [ ]:
# (d) Write a function named odd_or_zero which takes one parameter, a number, and returns that number 
# if it is odd or returns 0 if the number is even. Then using a list comprehension which iterates over 
# a_list and calls your odd or zero function for each value, print a list like the following:

def odd_or_zero(number):
  if number%2!=0:
    print(number)
  else:
    print(0)
  
num = [1,2,3,4,5,6,7,8,9]
list_ = [odd_or_zero(i) for i in num ]

1
0
3
0
5
0
7
0
9

In [ ]:
#(e) Prompt the user for a number, which will be returned from input as a string data type.
#  Strings can be iterated over like lists, such that the loop repeats for each character in the string. 
#  Using a list comprehension which iterates over the user-entered string and whose output expression accesses
#  values from a_dictionary, print a list of the text form of each digit from the user-entered string, 

number = input('input a number: ')
[a_dictionary[int(number)] for number in number]

input a number: 195

['one', 'nine', 'five']

In [ ]:

[y for x,y in a_dictionary.items()]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
# (f) Using the same user-entered number and list comprehension as above, also print the text form of the 
# digits in a single string (using the string join function) with a dash between each text form of the digit
number = input()
l = [a_dictionary[int(number)] for number in number]
"-".join(l)

195

'one-nine-five'

2

In [ ]:
# Using list comprehension, square each element of a list.
list_ = [1,2,3,4,5,6,7,8,9]
sq = [x**2 for x in list_]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# Write a list comprehension that builds a list containing only the names with at least 8 characters.
quote = ['Hey', 'my' ,'name' ,'is' ,'Shambhuraj', ' Madhav ' ,'Desai ' ,'I', 'am' ,'from' ,'Maharashtra']
[x for x in quote if len(x)>=8]

['Shambhuraj', ' Madhav ', 'Maharashtra']

In [10]:
# 4 Write a list comprehension that builds a list containing only even numbers over 100.
even = [x for x in range(1,150,5) if x%2==0]
even

[6, 16, 26, 36, 46, 56, 66, 76, 86, 96, 106, 116, 126, 136, 146]

In [20]:
# 5 Add % in front and end of every single word in a given string str: "Fall is Awesome in Alabama" only using
#  list comprehensions.
string = 'Fall is Awesome in Alabama'
list_ = [string]
l = [x for x in list_]
'%'.join(l)

'Fall is Awesome in Alabama'

In [24]:
a = string.split()
b = [x for x in a]
'% , %'.join(b)

'Fall% , %is% , %Awesome% , %in% , %Alabama'

In [25]:
list_ = ['%'+x+'%' for x in string.split()]
list_

['%Fall%', '%is%', '%Awesome%', '%in%', '%Alabama%']