<a href="https://colab.research.google.com/github/Shambhurajdesai/Practice/blob/main/List_comprehension_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
#1 Consider the following list and dictionary in your code:
a_list = list(range(1, 11))
a_dictionary = {1 : 'one',2 : 'two',3 : 'three',4 : 'four',5 : 'five',6 : 'six',7 : 'seven',8 : 'eight',9 : 'nine',10 : 'ten'}

In [ ]:
# a) Use a list comprehension that iterates over a_list, prints a list composed of each value in a_list multiplied by 10.
multiply = [x*10 for x in a_dictionary.keys()]

In [ ]:
multiply

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#Use a list comprehension that iterates over a_list, prints a list composed of odd numbers from 1 to 9.
odd = [x for x in a_dictionary.keys() if x%2 !=0]
odd

[1, 3, 5, 7, 9]

In [ ]:
#(c) Using a list comprehension which iterates over a_list and whose output expression accesses a value 
# from a dictionary, print a list composed of the text form of each even number from 2 to 10,
text = [y for x,y in a_dictionary.items() if x%2==0 ]
text

['two', 'four', 'six', 'eight', 'ten']

In [ ]:
# (d) Write a function named odd_or_zero which takes one parameter, a number, and returns that number 
# if it is odd or returns 0 if the number is even. Then using a list comprehension which iterates over 
# a_list and calls your odd or zero function for each value, print a list like the following:

def odd_or_zero(number):
  if number%2!=0:
    print(number)
  else:
    print(0)
  
num = [1,2,3,4,5,6,7,8,9]
list_ = [odd_or_zero(i) for i in num ]

1
0
3
0
5
0
7
0
9

In [ ]:
#(e) Prompt the user for a number, which will be returned from input as a string data type.
#  Strings can be iterated over like lists, such that the loop repeats for each character in the string. 
#  Using a list comprehension which iterates over the user-entered string and whose output expression accesses
#  values from a_dictionary, print a list of the text form of each digit from the user-entered string, 

number = input('input a number: ')
[a_dictionary[int(number)] for number in number]

input a number: 195

['one', 'nine', 'five']

In [ ]:

[y for x,y in a_dictionary.items()]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
# (f) Using the same user-entered number and list comprehension as above, also print the text form of the 
# digits in a single string (using the string join function) with a dash between each text form of the digit
number = input()
l = [a_dictionary[int(number)] for number in number]
"-".join(l)

195

'one-nine-five'

2

In [ ]:
# Using list comprehension, square each element of a list.
list_ = [1,2,3,4,5,6,7,8,9]
sq = [x**2 for x in list_]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# Write a list comprehension that builds a list containing only the names with at least 8 characters.
quote = ['Hey', 'my' ,'name' ,'is' ,'Shambhuraj', ' Madhav ' ,'Desai ' ,'I', 'am' ,'from' ,'Maharashtra']
[x for x in quote if len(x)>=8]

['Shambhuraj', ' Madhav ', 'Maharashtra']

In [10]:
# 4 Write a list comprehension that builds a list containing only even numbers over 100.
even = [x for x in range(1,150,5) if x%2==0]
even

[6, 16, 26, 36, 46, 56, 66, 76, 86, 96, 106, 116, 126, 136, 146]

In [20]:
# 5 Add % in front and end of every single word in a given string str: "Fall is Awesome in Alabama" only using
#  list comprehensions.
string = 'Fall is Awesome in Alabama'
list_ = [string]
l = [x for x in list_]
'%'.join(l)

'Fall is Awesome in Alabama'

In [24]:
a = string.split()
b = [x for x in a]
'% , %'.join(b)

'Fall% , %is% , %Awesome% , %in% , %Alabama'

In [25]:
list_ = ['%'+x+'%' for x in string.split()]
list_

['%Fall%', '%is%', '%Awesome%', '%in%', '%Alabama%']

In [28]:
# 6 Use list comprehension to create a myList which consists of the positive integers 1-100.
integers = [x for x in range(1,100) if x > 0]
integers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [29]:
# 7 Use list comprehension to create myListEvens which consists of all entries in myList that are even.
my_list_events = [x for x in range(1,101) if x%2==0]
my_list_events

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [31]:
#8 Use list comprehension to create a list of cubes of the integers 1-5.
cubes = [x**3 for x in range(1,6,1)]
cubes

[1, 8, 27, 64, 125]

In [32]:
# 9 Use list comprehension to make a list of the first letter of each word in the following list:

wordList = ["this", "is", "an", "example"]
first_letter = [x[0] for x in wordList]
first_letter

['t', 'i', 'a', 'e']

In [35]:
#10 Write a list comprehension that returns a list [0, 1, 4, 9, 16, ...., 625] starting from range(0, 26).
sq = [x**2 for x in range(0,26,1)]
sq

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625]

In [38]:
# 11 Write a list comprehension that returns the list ["1**2=1", "2**2=4", "3**2=9", ...., "25**2=625"]
[str(number)+'**2='+str(number*number) for number in range(0,26,1)]

['0**2=0',
 '1**2=1',
 '2**2=4',
 '3**2=9',
 '4**2=16',
 '5**2=25',
 '6**2=36',
 '7**2=49',
 '8**2=64',
 '9**2=81',
 '10**2=100',
 '11**2=121',
 '12**2=144',
 '13**2=169',
 '14**2=196',
 '15**2=225',
 '16**2=256',
 '17**2=289',
 '18**2=324',
 '19**2=361',
 '20**2=400',
 '21**2=441',
 '22**2=484',
 '23**2=529',
 '24**2=576',
 '25**2=625']

In [41]:
# 12 A string is given:
msg = "happy birthday!"

# Write a list comprehension that prints a list ['h', 'a', 'p', 'p', 'y', 'b', 'i', 'r', 't', 'h', 'd', 'a', 'y']
# Do not print out the space or the !.
[x for x in list(msg) if x in 'abcdefghijklmnopqrstuvwxyz']

['h', 'a', 'p', 'p', 'y', 'b', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [42]:
[x for x in list(msg) if x!=' ' and x!='!']

['h', 'a', 'p', 'p', 'y', 'b', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [63]:
# 13 Consider a list of strings, like this: ['one', 'seven', 'three', 'two', 'ten']. 
# Write a list comprehension that produces a list with tuples where the first element of the tuple is the length 
# of an element in the initial list. The second element of the tuple is the element of the initial list 
# capitalized. The resulting list contains only tuples for strings with a length longer than three characters.

# For our example above, the list comprehension should return [(5, 'SEVEN'), (5, 'THREE')]
list_ = ['one', 'seven', 'three', 'two', 'ten']
tuple_= [(len(list_),)+(x.upper(),) for x in list_ if len(x)>3]
tuple_

[(5, 'SEVEN'), (5, 'THREE')]

In [61]:
tuple_ = [(len(list_),x.upper()) for x in list_ if len(x)>3]
tuple_

[(5, 'SEVEN'), (5, 'THREE')]

In [75]:
#14 Consider a list of full names formatted "Firstname Lastname", like ["Jules Verne", "Alexandre Dumas", "Maurice Druon"].
#Write a list comprehension that produces a list with the full names in the format "Lastname, Firstname". 
#The resulting list should look like
#['Verne, Jules', 'Dumas, Alexandre', 'Druon, Maurice']
list_ = ["Jules Verne", "Alexandre Dumas", "Maurice Druon"]

new = [name.split()[1]+','+name.split()[0] for name in list_]
new

['Verne,Jules', 'Dumas,Alexandre', 'Druon,Maurice']

In [80]:
#15 Using list comprehension, write a Python program to print the list after removing the 0th, 2nd, 4th, and 
#6th numbers in [12,24,35,70,88,120,155].
num = [12,24,35,70,88,120,155]
[value for index,value in enumerate(num) if index!=0 and index!=2 and index!=4 and index!=6]

[24, 70, 120]

In [82]:
#16 A list of lists is given:
prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]
#Each sublist contains three pieces of information on one famous prairie pirate- 
#their pirate name (pirates can have secret identities too!), the number of sacks of assorted grains 
# they have plundered from unsuspecting farmers in the last year, and a Boolean value indicating whether
#  they like parrots.


#(a) Use a single list comprehension to create a list of the pirate names who plundered more than 400 
#sacks of assorted grains.
list_pirates = [pirates for pirates in prairie_pirates if pirates[1]>400]
list_pirates

[['Tractor Jack', 1000, True],
 ['Plowshare Pete', 950, False],
 ['Mad Athabasca McArthur', 842, False],
 ['Assiniboine Sally', 620, True],
 ['Cranky Canola Carl', 499, False]]

In [83]:
#(b) Use a single list comprehension to create a list of the pirate names who don't like parrots.
list_bool = [pirates for pirates in prairie_pirates if pirates[2]==False]
list_bool

[['Plowshare Pete', 950, False],
 ['Mad Athabasca McArthur', 842, False],
 ['Cranky Canola Carl', 499, False]]

In [85]:
#(c) Suppose that the average market value of a sack of grain is $42. Use a single list 
#comprehension to create a list of the market values of each pirate's grain.
list_value = [value[1] for value in prairie_pirates ]
list_value

[1000, 950, 245, 350, 842, 620, 150, 499]

In [93]:
#(d) Use a single list comprehension to create a list of lists where each sublist consists of a pirate's name 
#and the value of his/her plundered sacks of grain (calculate grain values as in part (c)),
# but only include those pirates who like parrots.

list_likes = [[name,value*41]for name,value,bool_ in prairie_pirates if bool_==True]
list_likes

[['Tractor Jack', 41000],
 ['Prairie Lily', 10045],
 ['Red River Rosie', 14350],
 ['Assiniboine Sally', 25420],
 ['Thresher Tom', 6150]]

In [96]:
#17 A list of lists is given:
SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]

# Each sublist contains three pieces of information about the library patrons at Saskatoon Public Library (SPL) - patron's name, 
# the number of books they have borrowed throughout the last year, and a Boolean value indicating whether 
# they are under 20.

# (a) Use a single list comprehension to create a list of the patron names who borrowed more than 100 books last year.
more_100 = [name for name,books,age in SPL_Patrons if books>100]
more_100

['Kim Tremblay',
 'Jessica Smith',
 'Alex Roy',
 'Sarah Khan',
 'Samuel Lee',
 'Ayesha Qureshi']

In [98]:
#(b) Use a single list comprehension to create a list of the patron names who are not under 20.
not_under_20 = [name for name,books,age in prairie_pirates if age==False]
not_under_20

['Plowshare Pete', 'Mad Athabasca McArthur', 'Cranky Canola Carl']

In [100]:
#(c) Suppose that a patron saves on average $11.95 by borrowing a book instead of buying it.
# Use a single list comprehension to create a list of the amount saved for each patron.

save_money = [money[1]*11.95 for money in prairie_pirates]
save_money

[11950.0, 11352.5, 2927.75, 4182.5, 10061.9, 7409.0, 1792.5, 5963.049999999999]

In [104]:
#(d) Use a single list comprehension to create a list of lists where each sublist consists of a patron's 
#name and the total amount he/she saved last year as in part (c)), but only include those patrons who
# are under 20.
list_list = [[name[0], name[1]*11.45] for name in SPL_Patrons if name[2]==True]
list_list

[['Kim Tremblay', 1534.3],
 ['Jessica Smith', 2461.75],
 ['Alex Roy', 1728.9499999999998],
 ['Samuel Lee', 2519.0],
 ['Ayesha Qureshi', 2278.5499999999997],
 ['David Martin', 641.1999999999999]]