<a href="https://colab.research.google.com/github/Shambhurajdesai/Practice/blob/main/List_comprehension_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Consider the following list and dictionary in your code:
a_list = list(range(1, 11))
a_dictionary = {1 : 'one',2 : 'two',3 : 'three',4 : 'four',5 : 'five',6 : 'six',7 : 'seven',8 : 'eight',9 : 'nine',10 : 'ten'}

In [3]:
# a) Use a list comprehension that iterates over a_list, prints a list composed of each value in a_list multiplied by 10.
multiply = [x*10 for x in a_dictionary.keys()]

In [4]:
multiply

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
#Use a list comprehension that iterates over a_list, prints a list composed of odd numbers from 1 to 9.
odd = [x for x in a_dictionary.keys() if x%2 !=0]
odd

[1, 3, 5, 7, 9]

In [8]:
#(c) Using a list comprehension which iterates over a_list and whose output expression accesses a value 
# from a dictionary, print a list composed of the text form of each even number from 2 to 10,
text = [y for x,y in a_dictionary.items() if x%2==0 ]
text

['two', 'four', 'six', 'eight', 'ten']

In [12]:
# (d) Write a function named odd_or_zero which takes one parameter, a number, and returns that number 
# if it is odd or returns 0 if the number is even. Then using a list comprehension which iterates over 
# a_list and calls your odd or zero function for each value, print a list like the following:

def odd_or_zero(number):
  if number%2!=0:
    print(number)
  else:
    print(0)
  
num = [1,2,3,4,5,6,7,8,9]
list_ = [odd_or_zero(i) for i in num ]

1
0
3
0
5
0
7
0
9

In [14]:
#(e) Prompt the user for a number, which will be returned from input as a string data type.
#  Strings can be iterated over like lists, such that the loop repeats for each character in the string. 
#  Using a list comprehension which iterates over the user-entered string and whose output expression accesses
#  values from a_dictionary, print a list of the text form of each digit from the user-entered string, 

number = input('input a number: ')
[a_dictionary[int(number)] for number in number]

input a number: 195

['one', 'nine', 'five']

In [21]:

[y for x,y in a_dictionary.items()]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']