<a href="https://colab.research.google.com/github/Shambhurajdesai/Practice/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1: Print First 10 natural numbers using while loop
i=1
n=11
while(i<n):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print the following pattern
# Write a program to print the following number pattern using a loop.
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5


# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Calculate the sum of all numbers from 1 to a given number
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

# For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

# Expected Output:

# Enter number 10
# Sum is:  55
sum = 0
for i in range(int(input())):
  sum = sum+i
print(sum)

11
55

In [ ]:
#Write a program to print multiplication table of a given number
i = int(input())
for j in range(1,11):
    print(i*j)

11
11
22
33
44
55
66
77
88
99
110

In [ ]:
# #Display numbers from a list using loop
# Write a program to display only those numbers from a list that satisfy the following conditions

# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the next number
# If the number is greater than 500, then stop the loop 

list_ = [12, 75, 150, 180, 145, 525, 50]
l = []
for i in list_:
  if i > 500:
    break
  elif i > 150:
    continue
  elif i%5==0:
    l.append(i)
print(l)

[75, 150, 145]

In [ ]:
#Count the total number of digits in a number
#Write a program to count the total number of digits in a number using a while loop.

#For example, the number is 75869, so the output should be 5.
number = int(input())
string = str(number)
print(len(string))

6545413
7

In [ ]:
n = int(input())
count = 0
while n != 0:
  n = n//10
  count = count+1
print('Total digits are:', count)

1546512
Total digits are: 7

In [ ]:
100//10

10

In [ ]:
100/10

10.0

In [ ]:
100%10

0

In [ ]:
10/3

3.3333333333333335

In [ ]:
import math as m
m.floor(10/3)

3

In [ ]:
m.ceil(10/3)

4

In [ ]:
#Print the following pattern
# Write a program to use for loop to print the following reverse number pattern
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1